<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/modal.css">
    <title>Modal</title>
</head>
<body>
    <dialog id="add-book-prompt">
        <form id="add-book-form" method="dialog">
            <fieldset>
                <legend>Enter the following details:</legend>
                <div class="form-input">
                    <label for="title">TITLE</label>
                    <input type="text" name="title" id="title" placeholder="My Book" required>
                </div>
                <div class="form-input">
                    <label for="author">AUTHOR</label>
                    <input type="text" name="author" id="author" placeholder="John Smith" required>
                </div>
                <div class="form-input">
                    <label for="pages">PAGES</label>
                    <input type="number" name="pages" id="pages" placeholder="100">
                </div>
                <div class="btn-container">
                    <button id="modal-cancel" class="modal-btn" type="reset">Cancel</button>
                    <button id="modal-submit" class="modal-btn">Add Book</button>
                </div>
            </fieldset>
        </form>
    </dialog>
</body>
</html>
